/* CSS Document */
*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 14px;
  line-height: 2em;
  font-family: 'microsoft yahei',"Hiragino Sans GB","Hiragino Sans GB W3";
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.clear:after { 
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}