/* CSS Document */
*{
  margin: 0;
  padding: 0;
}

body{
  font:14px 'microsoft yahei',"Hiragino Sans GB","Hiragino Sans GB W3";
}

body,div,p{
  line-height: 1.5em;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.clear:after { 
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

input,textarea{
  outline: none;
  font-family: 'microsoft yahei',"Hiragino Sans GB","Hiragino Sans GB W3";
}

